# Virtual Environment
.venv/
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log
logs/

# Temporary files
*.tmp
*.temp

# Lambda dependencies
rearci-iac/lambda/analytics/bin/
rearci-iac/lambda/analytics/boto3/
rearci-iac/lambda/analytics/boto3-*.dist-info/
rearci-iac/lambda/analytics/botocore/
rearci-iac/lambda/analytics/botocore-*.dist-info/
rearci-iac/lambda/analytics/dateutil/
rearci-iac/lambda/analytics/jmespath/
rearci-iac/lambda/analytics/jmespath-*.dist-info/
rearci-iac/lambda/analytics/numpy/
rearci-iac/lambda/analytics/numpy-*.dist-info/
rearci-iac/lambda/analytics/pandas/
rearci-iac/lambda/analytics/pandas-*.dist-info/
rearci-iac/lambda/analytics/python_dateutil-*.dist-info/
rearci-iac/lambda/analytics/pytz/
rearci-iac/lambda/analytics/pytz-*.dist-info/
rearci-iac/lambda/analytics/s3transfer/
rearci-iac/lambda/analytics/s3transfer-*.dist-info/
rearci-iac/lambda/analytics/six-*.dist-info/
rearci-iac/lambda/analytics/six.py
rearci-iac/lambda/analytics/urllib3/
rearci-iac/lambda/analytics/urllib3-*.dist-info/

rearci-iac/lambda/ingest/beautifulsoup4-*.dist-info/
rearci-iac/lambda/ingest/bin/
rearci-iac/lambda/ingest/boto3/
rearci-iac/lambda/ingest/boto3-*.dist-info/
rearci-iac/lambda/ingest/botocore/
rearci-iac/lambda/ingest/botocore-*.dist-info/
rearci-iac/lambda/ingest/bs4/
rearci-iac/lambda/ingest/certifi/
rearci-iac/lambda/ingest/certifi-*.dist-info/
rearci-iac/lambda/ingest/charset_normalizer/
rearci-iac/lambda/ingest/charset_normalizer-*.dist-info/
rearci-iac/lambda/ingest/dateutil/
rearci-iac/lambda/ingest/idna/
rearci-iac/lambda/ingest/idna-*.dist-info/
rearci-iac/lambda/ingest/jmespath/
rearci-iac/lambda/ingest/jmespath-*.dist-info/
rearci-iac/lambda/ingest/python_dateutil-*.dist-info/
rearci-iac/lambda/ingest/requests/
rearci-iac/lambda/ingest/requests-*.dist-info/
rearci-iac/lambda/ingest/s3transfer/
rearci-iac/lambda/ingest/s3transfer-*.dist-info/
rearci-iac/lambda/ingest/six-*.dist-info/
rearci-iac/lambda/ingest/six.py
rearci-iac/lambda/ingest/soupsieve/
rearci-iac/lambda/ingest/soupsieve-*.dist-info/
rearci-iac/lambda/ingest/typing_extensions/
rearci-iac/lambda/ingest/typing_extensions-*.dist-info/
rearci-iac/lambda/ingest/typing_extensions.py
rearci-iac/lambda/ingest/urllib3/
rearci-iac/lambda/ingest/urllib3-*.dist-info/
